@model IEnumerable<WebContactRegister.Models.Company>

@{
    ViewData["Title"] = "Index";
}


<div class="col-11 mx-auto pt-0">
    <div class="card">


        <table class="table  table-sm ">
            <thead>
                <tr>
                    <th>
                        <a asp-action="Create" class="btn btn-sm btn-primary ml-1">Create New</a>

                    </th>
                    <th>
                        @using (Html.BeginForm("Index", "ContactReg", FormMethod.Get))
                        {
                            @Html.TextBox("name")<input type="submit" value="search" asp-action="Index" />
                        }

                    </th>
                    <th>
                        <input type="text" class="form-control invisible" id="inputtxt" />
                    </th>

                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompanyAddress)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyAddress)
                        </td>

                        <td>
                            <div class="btn btn-group">
                                <a asp-action="Details" asp-route-id="@item.CompanyID" class="btn btn-sm btn-primary ml-1">Details</a>
                                <a asp-action="Edit" asp-route-id="@item.CompanyID" class="btn btn-info btn-sm ml-1">Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.CompanyID" class="btn btn-sm btn-danger ml-1">Delete</a>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
